<div>
    <h3>Compra realizada exitosamente</h3>
    <p>Los datos recibidos por Mercado Pago son:</p>
    <ol type="I">
      <li>payment_method_id: {{payment_type}}</li>
      <li>external_reference: {{external_reference}}</li>
      <li>payment_id: {{payment_id}}</li>
    </ol>
</div>
